  <span class="d-block h1 text-center">All Posts</span>

  <div class="row justify-content-center">

    <% @all_posts.each do |p| %>
      <div class="col-md-8 m-1">
        <div class="card">
          <span class="card-header"><span class="h4"><%= p.title %></span>
            <% if session[:user_id] == p.user_id %>
          <a href="/posts/<%= p.id %>/edit" class="badge badge-primary float-right">Edit Post</a>
        <% end %>
          </span>
          <div class="card-body">
            <%= p.content.gsub(/\r?\n/, '<br />')  %>
          </div>
          <div class="card-footer">
            <a href="/posts/<%= p.id %>"><%= p.created_at.strftime("%l:%M %P - %B %d, %Y") %></a> | <a href="/users/<%= p.user.id %>"><%= p.user.first_name %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

