<div class="row justify-content-center align-items-top">
  <ul class="list-group m-2">
    <li id="username" class="list-group-item active">Username - <%= @specific_user.username %></li>
    <li class="list-group-item"><%= @specific_user.first_name + ' ' +  @specific_user.last_name %></li>
    <li class="list-group-item">Member since <%= @specific_user.created_at.strftime('%m/%d/%Y') %></li>
    <li class="list-group-item">Bio: <%= @specific_user.bio %></li>
    <% if @specific_user.id == session[:user_id] %>
      <li class="list-group-item"><a href="/users/edit" class="btn badge-lg badge-primary">Edit User</a></li>
    <% end %>
  </ul>
  </div>
    <h1 class="posts">Posts</h1>
    <div class="row justify-content-center">
      <% @specific_user.posts.order('created_at DESC').each do |p| %>
        <div class="col-md-8 m-1">
          <div class="card">

          <span class="card-header"><span class="h4">Title - <%= p.title %></span>
            <% if session[:user_id] == p.user_id %>
          <a href="/posts/<%= p.id %>/edit" class="badge badge-primary float-right">Edit Post</a>
        <% end %>
          </span>

            <div class="card-body">
              Post - <%= p.content.gsub(/\r?\n/, '<br />')  %>
            </div>
            <div class="card-footer">
              <a href="/posts/<%= p.id %>"><%= p.created_at.strftime("%l:%M %P - %B %d, %Y") %></a> | <a href="/users/<%= p.user.id %>"><%= p.user.first_name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
 </div>

